body {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1,
h2,
h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 32px;
}

table { 
    width: 100%; /* Ширина таблицы */
    border: 1px double black; /* Рамка вокруг таблицы */
    border-collapse: separate; /* Отображать только одинарные линии */
   }
   th { 
    text-align: left; /* Выравнивание по левому краю */
    background: white; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px double black; /* Граница вокруг ячеек */
   }
   td { 
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px double black; /* Граница вокруг ячеек */
   }

   h1, 
   h2,
   h3 {
    margin-top: 2em;
    margin-bottom: auto;
   }

   .pic {
    float: right;
    font-style: italic;
   }
 
